build/*
devel/*
logs/*
.catkin_tools/*
.catkin_workspace
src/CMakeLists.txt

__pycache__/
*.pyc

.vscode/
src/.vscode/

venv/
site/

*.bag

ricatti_solution_own_rk45_sim1_without_noise.txt
ricatti_solution_own_rk45_sim3_without_noise.txt
ricatti_solution_own_rk45_sim4_without_noise.txt