<?xml version="1.0"?>
<launch>
    <!-- Launch file arguments -->
    <arg name="camera_image_topic"      default="/camera/image_raw"/>
    <arg name="camera_info_topic"       default="/camera/camera_info"/>
    <arg name="aruco_dict"              default="DICT_4X4_250"/>
    <arg name="aruco_size"              default="0.1"/>
    <arg name="aruco_tf_name"           default="arucoCamera"/>

    <!-- Nodes -->
    <node name="aruco_detect" pkg="svea_thesis" type="aruco_detect.py" output="screen">
        <param name="sub_image"         value="$(arg camera_image_topic)"/>
        <param name="camera_info"       value="$(arg camera_info_topic)"/>
        <param name="aruco_dict"        value="$(arg aruco_dict)"/>
        <param name="aruco_size"        value="$(arg aruco_size)"/>
        <param name="aruco_tf_name"     value="$(arg aruco_tf_name)"/>
    </node>

    <!-- <include file="$(find svea_sensors)/launch/localize.launch"></include> -->
    <include file="$(find svea_thesis)/launch/camera.launch"></include>
    <include file="$(find svea_sensors)/launch/sensors_launch/controller.launch"></include>
    
    <node if="$(eval map != '')" pkg="map_server" type="map_server" name="map_server" output="screen" args="/svea_ws/src/svea_core/maps/sml.yaml"/>
    
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="250000"/>
    </node>

    <include file="$(find svea_thesis)/launch/aruco_transform.launch"/>
    
    <node name="MocapAruco" pkg="svea_thesis" type="MocapAruco.py" output="screen"/>

    <node name="nats_connector" pkg="nats_ros_connector" type="nats_connector.py" output="screen">
        <remap from="svea5/aruco/detection" to="/aruco/detection"/>
        <rosparam>
        host: sml-wan.asuscomm.com
        publishers:
          - svea5/aruco/detection
        </rosparam>
    </node>
    <!-- <node name="aruco_pose" pkg="svea_sensors" type="aruco_pose.py" output="screen"/> -->
    <!-- <node name="p3p_process_data" pkg="svea_sensors" type="p3p_process_data.py" output="screen"/> -->
</launch>