<?xml version="1.0"?>
<launch>
    <!-- Argument for camera -->
    <arg name="camera_device_id"        default="1"/>
    <arg name="camera_info_file"        default="logitech_web_camera_1024_576.yaml"/>
    <arg name="image_width"             default="1024"/>
    <arg name="image_height"             default="576"/>
    <!-- Nodes -->
    <node name="camera" pkg="cv_camera" type="cv_camera_node" output="screen">
        <param name="camera_info_url"   value="file://$(find svea_thesis)/camera_params/$(arg camera_info_file)" />
        <param name="rate"              value="30.0"/>
        <param name="device_id"         value="$(arg camera_device_id)"/>
        <param name="image_width"       value="$(arg image_width)"/>
        <param name="image_height"      value="$(arg image_height)"/>

    </node>
</launch>