<launch>
    <arg name="map" default="sml"/>
    <arg name="x" default="0.06"/>
    <arg name="y" default="-0.06"/>
    <arg name="z" default="0.0"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="1.57"/>
    <arg name="frame_id" default="mocap"/>
    <arg name="child_frame" default="map"/>
    <arg name="mocap_name"/>

    <include file="$(find mocap_qualisys)/launch/qualisys.launch"/>

    <node pkg="svea_mocap" type="mocap_only.py" name="mocap_only" output="screen">
        <param name="mocap_name" value="$(arg mocap_name)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="tf_mocap_to_map" args="$0 0 0 0 0 0 mocap map 100" />

</launch>
