<?xml version="1.0"?>
<launch>
    <!-- Launch file arguments -->
    <arg name="camera_image_topic"      default="/camera/image_raw"/>
    <arg name="camera_info_topic"       default="/camera/camera_info"/>
    <arg name="aruco_dict"              default="DICT_4X4_250"/>
    <arg name="aruco_size"              default="0.1"/>
    <arg name="aruco_tf_name"           default="arucoCamera"/>

    <!-- Nodes -->
    <node name="aruco_detect" pkg="svea_sensors" type="aruco_detect.py" output="screen">
        <param name="sub_image"         value="$(arg camera_image_topic)"/>
        <param name="camera_info"       value="$(arg camera_info_topic)"/>
        <param name="aruco_dict"        value="$(arg aruco_dict)"/>
        <param name="aruco_size"        value="$(arg aruco_size)"/>
        <param name="aruco_tf_name"     value="$(arg aruco_tf_name)"/>
    </node>

    <node if="$(eval map != '')" pkg="map_server" type="map_server" name="map_server" output="screen" args="/svea_ws/src/svea_core/maps/sml.yaml"/>
    
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="odommap_broadcaster"    args="0 0 0 0 0 0 map odom" />    -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="linkodom_broadcaster"    args="0 0 0 0 0 0 odom base_link" />    -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imulink_broadcaster"    args="0 0 0.1 0 0 0 base_link imu" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="gpslink_broadcaster"    args="-0.058 -0.015  0.115 0 0 0 base_link gps" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="cameralink_broadcaster"    args="0.383 0.0 0.250 -1.57 0 -1.57 base_link camera" />   -->
    <!-- for e-com-4k -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="maparuco0_broadcaster"  args="0.1095 0 0.0585 0 0 1.57 map aruco0" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="maparuco1_broadcaster"  args="0.05475 0.095 0.0585 1.0472 0 1.57 map aruco1" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="maparuco2_broadcaster"  args="-0.05475 0.095 0.0585 2.0944 0 1.57 map aruco2" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="maparuco3_broadcaster"  args="-0.1095 0 0.0585 3.14159 0 1.57 map aruco3" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="maparuco4_broadcaster"  args="-0.05475 -0.095 0.0585 4.18879 0 1.57 map aruco4" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="maparuco5_broadcaster"  args="0.05475 -0.095 0.0585 5.23599 0 1.57 map aruco5" />

    <!-- <node name="aruco_pose" pkg="svea_sensors" type="aruco_pose.py" output="screen"/> -->
    <node name="p3p_process_data" pkg="svea_sensors" type="p3p_process_data.py" output="screen"/>
</launch>